.Banner1 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.699),
      rgba(0, 0, 0, 0.584)
    ),
    url(https://assets.nflxext.com/ffe/siteui/vlv3/afc06103-4d6a-4236-b496-34b671a7e9ba/383fc36a-aa04-4dfd-95a0-a4b71bc21eed/IN-en-20221003-popsignuptwoweeks-perspective_alpha_website_large.jpg);
  height: 601px;
  background-size: cover;
  border-bottom: 8px solid #222222;
}

.SignIn__button {
  background-color: #e50914;
  color: white;
  padding: 7px 16px;
  font-size: 16px;
  border-radius: 3px;
  border: 0;
}

.Header {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 30px;
}

.logo {
  margin-right: 750px;
}

.logo > img {
  width: 50%;
}

.StoryCard {
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.StoryCard1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 3.3rem;
}

.StoryCard2 {
  padding-top: 20px;
  font-size: 26px;
}

.StoryCard3 {
  padding-top: 20px;

  font-size: 20px;
}

.EmailInput {
  display: flex;
  align-items: center;
}

.Started__Button {
  background-color: #d30813;
  height: 56px;
  width: 20%;
  border: 0;
  margin: 0;
  padding: 0;
  color: whitesmoke;
  font-size: 25px;
}

.EmailInput {
  justify-content: center;
  margin-top: 20px;
}

.Started__Button:hover {
  background-color: #ff0915;
}

.Banner2 {
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-around;
  border-bottom: 8px solid #222222;
  /* height: auto; */
}

.Banner_text > h1 {
  font-size: 50px;
  line-height: 3.5rem;
}

.Banner_text > p {
  font-size: 26px;
  line-height: 2rem;
  margin-top: -18px;
}

.Banner_text {
  width: 70%;
  padding-left: 90px;
  padding-top: 100px;

}

.Banner_media > img {
  position: relative;
  bottom: 376px;
  right: 0;
}

.Banner_media > video {
  width: 480px;
  height: 290px;
  padding-top: 100px;
  padding-left: 80px;
}

.Banner_media {

  height: 500px;

}

.Banner_media3 > img {
  width: 90%;
}

.Download__Card {
  display: flex;
  border: 2px solid #404040;
  padding: 2px;
  align-items: center;
  background-color: black; 
  width: 400px;
  height: 100px;
  border-radius: 10px;
  position: relative;
  bottom: 140px;
  left: 45px;

}

.Download__Text {
  margin-left: -70px;
  margin-right: 100px;
  white-space: nowrap;
}

.Download__Text > p {
  color: #0074f0;
  margin-top: -20px;
}

.Download__Image > img {
  width: 35%;
  margin-left: 20px;
}

.Download__Image2 > img {
  width: 60%; 

}